%flex-display {
  display: flex;
}
.star-rating {
  @extend %flex-display;
  align-items: center;
  font-size: 2em;
  margin: 10px;
}
.back-stars {
  @extend %flex-display;
  color: #bb5252;
  position: relative;
  text-shadow: 4px 4px 10px #843a3a;
}
.front-stars {
  @extend %flex-display;
  color: #ffbc0b;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}

hr.style-hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
h4,
p {
  font-weight: bold;
}
